<a href="https://colab.research.google.com/github/Debo12/ddutta.guvi-proj/blob/master/assignments/Mongodb_task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telephone Directory CRUD Operation

Telephone directory: Perform CRUD operation using mongodb and python.

You need to Import necessary modules

Perform CRUD operations to manipulate data in MongoDB. Create, retrieve, update, and delete (CRUD)

Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

Create a collection.
For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

Insert the record into the collection.

Make a query to find records you just created.

Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete

In [ ]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [ ]:
from pymongo import MongoClient
import bson

In [ ]:
client = MongoClient('mongodb+srv://test:test123@sandbox.mxdci.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
client.test

Database(MongoClient(host=['sandbox-shard-00-02.mxdci.mongodb.net:27017', 'sandbox-shard-00-01.mxdci.mongodb.net:27017', 'sandbox-shard-00-00.mxdci.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-117w59-shard-0', tls=True), 'test')

In [ ]:
client.list_database_names()

['books',
 'sales',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [ ]:
db = client['telephone_directory']

In [ ]:
collection = db['telDict']

In [ ]:
telDetails = [
    {
      'Name': 'Debojyoti Dutta',
      'Contact': '12345678',
      'Place': 'Bangalore'
    },
    {
        'Name': 'ABC',
        'Contact': '87654321',
        'Place': 'Kolkata'
    }
]

In [ ]:
collection.insert_many(telDetails)

In [ ]:
for i in collection.find():
  print(i)

{'_id': ObjectId('63b31649de97e958a3776c17'), 'Name': 'Debojyoti Dutta', 'Contact': '12345678', 'Place': 'Bangalore'}
{'_id': ObjectId('63b31649de97e958a3776c18'), 'Name': 'ABC', 'Contact': '87654321', 'Place': 'Kolkata'}

In [ ]:
collection.update_one({'_id': bson.ObjectId('63b31649de97e958a3776c18')}, {"$set": {'Name': 'DD'}})

In [ ]:
for i in collection.find():
  print(i)

{'_id': ObjectId('63b31649de97e958a3776c17'), 'Name': 'Debojyoti Dutta', 'Contact': '12345678', 'Place': 'Bangalore'}
{'_id': ObjectId('63b31649de97e958a3776c18'), 'Name': 'DD', 'Contact': '87654321', 'Place': 'Kolkata'}

In [ ]:
collection.delete_one({'_id': bson.ObjectId('63b31649de97e958a3776c18')})

In [ ]:
for i in collection.find():
  print(i)

{'_id': ObjectId('63b31649de97e958a3776c17'), 'Name': 'Debojyoti Dutta', 'Contact': '12345678', 'Place': 'Bangalore'}

# Student Database (MongoDB)

Here is the student dataset in the json format.

Perform the following operation:

First create a database and then load the student.json dataset.

Insert the students record into the collection.

Queries need to answer:

1)      Find the student name who scored maximum scores in all (exam, quiz and homework)?

2)      Find students who scored below average in the exam and pass mark is 40%?

3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

7)      Create a new collection which consists of students who scored above pass mark in all the categories.

Data set Link: https://drive.google.com/file/d/1m7bmdkn6uFCYmo_6zf8VNafqaE2c0FHY/view?usp=sharing

#### Question 1

In [ ]:
db.student.aggregate([
  {
    $group: {
      _id: "$_id",
      data: {
        $push: "$$ROOT"
      }
    }
  },
  {
    $unwind: "$data"
  },
  {
    $match: {
      "data.scores.type": {"exam", "quiz", "homework"}
    }
  },
  {
    $sort: {
      "data.scores.score": -1
    }
  },
  {
    $project: {
      _id: 0,
      name: "$data.name"
    }
  },
  {
    $limit: 1
  }
])