<a href="https://colab.research.google.com/github/Debo12/ddutta.guvi-proj/blob/master/ClassNotes/5th_Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Object Creation

In [ ]:
h = pd.Series([1, 4, 5, np.nan, 8, 9, 10])
h

0     1.0
1     4.0
2     5.0
3     NaN
4     8.0
5     9.0
6    10.0
dtype: float64

In [ ]:
randm = pd.Series(np.random.randn(6), index=['a', 'b', 'c', 'd', 'e', 'f'])
randm

a   -0.916629
b   -0.013174
c   -1.600013
d    0.645042
e   -1.402546
f   -0.287537
dtype: float64

In [ ]:
randm.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

#### Creating a Series from Dictionary

In [ ]:
dic = {'Debojyoti': 'Dutta', 'Harshit': 'Panchal', 'Dinesh': 'Rao'}

In [ ]:
pd.Series(dic)

Debojyoti      Dutta
Harshit      Panchal
Dinesh           Rao
dtype: object

In [ ]:
pd.Series(dic, index=['a', 'b', 'c']) # Key value can not be changed

a    NaN
b    NaN
c    NaN
dtype: object

#### Random Manipulation

In [ ]:
randm

a   -0.916629
b   -0.013174
c   -1.600013
d    0.645042
e   -1.402546
f   -0.287537
dtype: float64

In [ ]:
randm[2:]

c   -1.600013
d    0.645042
e   -1.402546
f   -0.287537
dtype: float64

In [ ]:
randm.median()

-0.6020827965075809

In [ ]:
randm > randm.median()

a    False
b     True
c    False
d     True
e    False
f     True
dtype: bool

In [ ]:
randm[randm>randm.median()]

b   -0.013174
d    0.645042
f   -0.287537
dtype: float64

In [ ]:
np.exp(randm)

a    0.399865
b    0.986913
c    0.201894
d    1.906067
e    0.245970
f    0.750109
dtype: float64

In [ ]:
# convert into numpy
randm.to_numpy()

array([-0.91662889, -0.01317384, -1.60001258,  0.64504193, -1.40254649,
       -0.2875367 ])

In [17]:
randm + randm

a   -1.833258
b   -0.026348
c   -3.200025
d    1.290084
e   -2.805093
f   -0.575073
dtype: float64

In [18]:
randm * 2

a   -1.833258
b   -0.026348
c   -3.200025
d    1.290084
e   -2.805093
f   -0.575073
dtype: float64

In [19]:
randm * 3

a   -2.749887
b   -0.039522
c   -4.800038
d    1.935126
e   -4.207639
f   -0.862610
dtype: float64

# Creating a DataFrame

In [20]:
dataf = {
    'one_c': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'two_c': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
}
dataf

{'one_c': a    1
 b    2
 c    3
 dtype: int64, 'two_c': a    1
 b    2
 c    3
 d    4
 dtype: int64}

In [22]:
data = pd.DataFrame(dataf)

In [23]:
data

   one_c  two_c
a    1.0      1
b    2.0      2
c    3.0      3
d    NaN      4

In [24]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
data.columns

Index(['one_c', 'two_c'], dtype='object')

In [27]:
# Renaming the Columns
data.rename(columns={'one_c': 'First', 'two_c': 'Second'}, inplace=True)
data

   First  Second
a    1.0       1
b    2.0       2
c    3.0       3
d    NaN       4

In [28]:
data['First']

a    1.0
b    2.0
c    3.0
d    NaN
Name: First, dtype: float64

In [29]:
data[['First']]

   First
a    1.0
b    2.0
c    3.0
d    NaN

In [30]:
# Adding Columns in DataFrame
data['add_column'] = data['First'] + data['Second']
data

   First  Second  add_column
a    1.0       1         2.0
b    2.0       2         4.0
c    3.0       3         6.0
d    NaN       4         NaN

In [33]:
data['ne_col'] = np.nan
data

   First  Second  add_column  ne_col
a    1.0       1         2.0     NaN
b    2.0       2         4.0     NaN
c    3.0       3         6.0     NaN
d    NaN       4         NaN     NaN

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First       3 non-null      float64
 1   Second      4 non-null      int64
 2   add_column  3 non-null      float64
 3   ne_col      0 non-null      float64
dtypes: float64(3), int64(1)
memory usage: 332.0+ bytes

In [35]:
data.describe() # Non-graphical Statistical Analysis

       First    Second  add_column  ne_col
count    3.0  4.000000         3.0     0.0
mean     2.0  2.500000         4.0     NaN
std      1.0  1.290994         2.0     NaN
min      1.0  1.000000         2.0     NaN
25%      1.5  1.750000         3.0     NaN
50%      2.0  2.500000         4.0     NaN
75%      2.5  3.250000         5.0     NaN
max      3.0  4.000000         6.0     NaN

In [36]:
data.transpose()

              a    b    c    d
First       1.0  2.0  3.0  NaN
Second      1.0  2.0  3.0  4.0
add_column  2.0  4.0  6.0  NaN
ne_col      NaN  NaN  NaN  NaN

In [37]:
data.head(3)

   First  Second  add_column  ne_col
a    1.0       1         2.0     NaN
b    2.0       2         4.0     NaN
c    3.0       3         6.0     NaN

In [38]:
data.tail(3)

   First  Second  add_column  ne_col
b    2.0       2         4.0     NaN
c    3.0       3         6.0     NaN
d    NaN       4         NaN     NaN

In [39]:
dates = pd.date_range('20220101', periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')